.idea/
.vscode/
node_modules/
build/
tmp/
temp/
dist
.next
 .env
.DS_Store
q.sql
misc
packages/old
packages/web/_package.json

packages/web/src/views/Finance/Billing/BillingDetailsView/components/_WorkerActionMenu.jsx
stubs.txt
packages/web/src/views/Finance/FinanceOverview/bastian.txt
packages/server/prod-prep-db-scripts/payroll/cleanpayments.sql
bastian.txt
data.json
hailey999.txt
notes.txt
packages/email.html
packages/server/ex/PREC010005284191204001.txt
packages/server/ex/PCSV0100052841901010001.txt
packages/server/ex/PREC010005284191204001.txt
packages/server/ex/PCSV0100052841901010001.txt
packages/old/resolver.ts
*.pdf
packages/web/.history/src/index_20210123023710.js
packages/web/.history/src/index_20210123015024.js
packages/server/.history/src/utils/serverUtils_20210123165241.ts
packages/server/.history/src/utils/serverUtils_20210123165032.ts
packages/server/.history/src/utils/authUtils_20210123165226.ts
packages/server/.history/src/utils/authUtils_20210123165032.ts
packages/server/.history/src/modules/worker/repository_20210123165201.ts
packages/server/.history/src/modules/worker/repository_20210123165032.ts
packages/server/.history/src/modules/employer/resolver_20210123165058.ts
packages/server/.history/src/modules/employer/resolver_20210123165032.ts
.prettierrc copy
.prettierrc copy 2
packages/server/.env
packages/server/nodemon.json
packages/server/src/services/QBService/config/qb.json
packages/server/__.env
packages/server/old
packages/server/@migration/1615186815560-AddingInvoiceIdToInvoiceItem.ts
*.xlsx
packages/seed
packages/server/src/modules/billing/queries/billngweeksummry.sql
packages/server/src/modules/billing/queries/billngweeksummry.sql
 
 
 
packages/server/src/modules/billing/week19.zip
packages/server/src/modules/billing/week18.zip
packages/server/src/modules/billing/week17.zip
packages/server/uploads/employer/invoices/2021/18/zip/Employer-Invoice-18-2021.zip
